# These are the requirements for TESTING, not for the actual library
bibtexparser==1.1.0
django==2.1.4
djangorestframework
django-jsonfield==1.1.0
mock==2.0.0
wagtail==2.3
wagtail-factories==1.1.0
tox==3.7.0
